doctype html
//
  Parallelism by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Showcase
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/parallelism/main.css')
  noscript
    link(rel='stylesheet' href='/css/parallelism/noscript.css')
// Wrapper
#wrapper
  // Main
  section#main
    // Items
    .items
      .item.intro.span-2
        h1 Edgar Trujillo
        p
          | Software Engineer
          br
          | Appointment Booking platform
      article.item.thumb.span-1
        h2 You really got me
        a.image(href='images/fulls/01.jpg')
          img(src='images/thumbs/01.jpg' alt='')
      article.item.thumb.span-2
        h2 Ad Infinitum
        a.image(href='images/fulls/02.jpg')
          img(src='images/thumbs/02.jpg' alt='')
      article.item.thumb.span-1
        h2 Different.
        a.image(href='images/fulls/03.jpg')
          img(src='images/thumbs/03.jpg' alt='')
      article.item.thumb.span-1
        h2 Elysium
        a.image(href='images/fulls/04.jpg')
          img(src='images/thumbs/04.jpg' alt='')
      article.item.thumb.span-3
        h2 Kingdom of the Wind
        a.image(href='images/fulls/05.jpg')
          img(src='images/thumbs/05.jpg' alt='')
      article.item.thumb.span-1
        h2 The Pursuit
        a.image(href='images/fulls/06.jpg')
          img(src='images/thumbs/06.jpg' alt='')
      article.item.thumb.span-2
        h2 Boundless
        a.image(href='images/fulls/07.jpg')
          img(src='images/thumbs/07.jpg' alt='')
      article.item.thumb.span-2
        h2 The Spectators
        a.image(href='images/fulls/08.jpg')
          img(src='images/thumbs/08.jpg' alt='')
    // Items
    .items
      article.item.thumb.span-3
        h2 Kingdom of the Wind
        a.image(href='images/fulls/05.jpg')
          img(src='images/thumbs/05.jpg' alt='')
      article.item.thumb.span-1
        h2 The Pursuit
        a.image(href='images/fulls/06.jpg')
          img(src='images/thumbs/06.jpg' alt='')
      article.item.thumb.span-2
        h2 Boundless
        a.image(href='images/fulls/07.jpg')
          img(src='images/thumbs/07.jpg' alt='')
      article.item.thumb.span-2
        h2 The Spectators
        a.image(href='images/fulls/08.jpg')
          img(src='images/thumbs/08.jpg' alt='')
      article.item.thumb.span-1
        h2 You really got me
        a.image(href='images/fulls/01.jpg')
          img(src='images/thumbs/01.jpg' alt='')
      article.item.thumb.span-2
        h2 Ad Infinitum
        a.image(href='images/fulls/02.jpg')
          img(src='images/thumbs/02.jpg' alt='')
      article.item.thumb.span-1
        h2 Different.
        a.image(href='images/fulls/03.jpg')
          img(src='images/thumbs/03.jpg' alt='')
      article.item.thumb.span-2
        h2 Kingdom of the Wind
        a.image(href='images/fulls/05.jpg')
          img(src='images/thumbs/05.jpg' alt='')
      article.item.thumb.span-1
        h2 Elysium
        a.image(href='images/fulls/04.jpg')
          img(src='images/thumbs/04.jpg' alt='')
            
  button(onclick="location.href='inquiry'" type='button') Want to get inked? Inquire Today!
      
            
  // Footer
  section#footer
    section
      p
        | This is 
        strong InkedDemo
        | , a responsive portfolio site with appointment booking integration. 
        | For appointments, please fill out the inquiry form. 
    section
      ul.icons
        li
          a.icon.brands.fa-twitter(href='')
            span.label Twitter
        li
          a.icon.brands.fa-instagram(href='https://www.instagram.com/edgarr_t/')
            span.label Instagram
        li
          a.icon.brands.fa-facebook-f(href='https://www.facebook.com/edgar.trujillo.921')
            span.label Facebook
        li
          a.icon.solid.fa-envelope(href='/inquiry')
            span.label Email
      ul.copyright          
        li &copy; Edgar Trujillo.
        li
          | Admin: 
          a(href='http://login.example.com') Login          
          
// Scripts
script(src='/js/parallelism/jquery.min.js')
script(src='/js/parallelism/jquery.poptrox.min.js')
script(src='/js/parallelism/browser.min.js')
script(src='/js/parallelism/breakpoints.min.js')
script(src='/js/parallelism/util.js')
script(src='/js/parallelism/main.js')
