link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// ---- Include the above in your HEAD tag --------
link(rel='stylesheet', href='/css/error_page.css')
script(src='/js/error_page.js')


section.error_section
  p.error_section_subtitle Opps Page is not available !
  h1.error_title
    p 404
    |         404
  a.btn(href='/') Back to home
