doctype html
//
  Astral by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Test
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/astral/main.css')    
  link(rel='stylesheet' href='/css/fileUpload.css')
  noscript
    link(rel='stylesheet' href='/css/astral/noscript.css')
// Wrapper
#wrapper
  // Nav
  nav#nav
    a.icon.solid.fa-home.inactive(href='/')
      span Home
    a.icon.solid.fa-folder(href='/catalogue')
      span Catalogue
    a.icon.solid.fa-envelope.active(href='/inquiry')
      span Inquiry
    a.icon.brands.fa-instagram(href='https://www.instagram.com/edgarr_t/')
      span Instagram
  // Main
  #main
    article#contact.panel
      header
        h2 Want to get inked?  
        p Welcome to the tattoo booking platform. 
        p Please provide the following information and representatives will answer your inquiry as soon as possible.
        p A thorough description is needed in order to fully assess each individual project. We are truly honored for every request that is submitted.

      form(method='POST' enctype='multipart/form-data')
        input(type='hidden', name='_csrf', value=_csrf)
        div
          .row 
            .col-12
              p.formTitle About You
            .col-6.col-12-medium
              input(type='text' name='name' placeholder='Name' required='')
            .col-6.col-12-medium
              input(type='text' name='email' placeholder='Email' required='')
            .col-12        
              input(type='text' name='phone_number' placeholder='Phone Number' required='')           
            .col-12
              input(type='text' name='address' placeholder='Address' required='')
            .col-4.col-12-medium        
              input(type='text' name='city' placeholder='City' required='')   
            .col-4.col-12-medium        
              input(type='text' name='state' placeholder='State' required='')        
            .col-4.col-12-medium        
              input(type='text' name='zip_code' placeholder='Zip Code' required='')                 
            .col-12
              textarea(name='size_of_piece' placeholder='Size and Location of Desired Piece' rows='3' required='')
            .col-12
              textarea(name='work_area' placeholder='Is there any existing work in or around the area?' rows='3' required='')
            .col-12
              textarea(name='inspiration' placeholder='What is the inspiration and why is this piece significant to you? Minimum 50 characters.' rows='3' required='')
            .col-12
              p If you have any design or image references, please attach them here. ( Optional )    
            .file-uploader__message-area
              p Select a file to upload
            .file-chooser
              input.file-chooser__input(type='file' name='files')                
            .col-12
              input(type='submit' value='Send Request')
                                
                
                
                
                
  // Footer
  #footer
    ul.copyright
      li &copy; Edgar Trujillo.
      li
        | Admin: 
        a(href='http://login.inkdby.com') Login
// Scripts
script(src='/js/astral/jquery.min.js')
script(src='/js/astral/browser.min.js')
script(src='/js/astral/breakpoints.min.js')
script(src='/js/astral/util.js')
script(src='/js/astral/workaround.js')
script(src='/js/fileUpload.js')
