doctype html
//
  Dimension by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Demo
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/dimension/main.css')
  noscript
    link(rel='stylesheet' href='/css/dimension/noscript.css')
      
      
body.is-article-visible
  #main._show
    // Intro
    article#about.active.gallery
      h2.major About
      span.image.main#gallery
        a(href='http://youtu.be/dsGODTySH0E' data-poptrox='youtube')            
          img(src='/images/dwd.jpg')

      p Possiblity of adding videos to pages as well.    


// BG
#bg
// Scripts
script(src='/js/dimension/jquery.min.js')
script(src='/js/dimension/browser.min.js')
script(src='/js/dimension/breakpoints.min.js')
script(src='/js/dimension/util.js')
script(src='/js/dimension/minimal.js')
script(src='/js/astral/jquery.poptrox.min.js')
