doctype html
//
  Dimension by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Demo
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/dimension/main.css')
  link(rel='stylesheet' href='/css/dimension/image.css')
    
    
  noscript
    link(rel='stylesheet' href='/css/dimension/noscript.css')

body.is-article-visible
  #main._show
    // Work
    article#work.active
      h2.major Work
      span.image.main
        img(src='images/pic02.jpg' alt='')
      p View of past work
      p Click on images to get a full view
      section.gallery
        .row
          .col-4.col-6-medium.col-12-small
            a.image(href='images/fulls/01.jpg')
              img(src='images/thumbs/01.jpg' alt='Title')
          .col-4.col-6-medium.col-12-small
            a.image(href='images/fulls/02.jpg')
              img(src='images/thumbs/02.jpg' alt='sdgd')
          .col-4.col-6-medium.col-12-small
            a.image(href='images/fulls/03.jpg')
              img(src='images/thumbs/03.jpg' alt='gdfg')
          .col-4.col-6-medium.col-12-small
            a.image(href='images/fulls/04.jpg')
              img(src='images/thumbs/04.jpg' alt='gdfg')
          .col-4.col-6-medium.col-12-small
            a.image(href='images/fulls/05.jpg')
              img(src='images/thumbs/05.jpg' alt='dfg')
          .col-4.col-6-medium.col-12-small
            a.image(href='images/fulls/06.jpg')
              img(src='images/thumbs/06.jpg' alt='')
          .col-4.col-6-medium.col-12-small
            a.image(href='images/fulls/07.jpg')
              img(src='images/thumbs/07.jpg' alt='')
          .col-4.col-6-medium.col-12-small
            a.image(href='images/fulls/08.jpg')
              img(src='images/thumbs/08.jpg' alt='')
      

// BG
#bg
// Scripts
script(src='/js/dimension/jquery.min.js')
script(src='/js/dimension/browser.min.js')
script(src='/js/dimension/breakpoints.min.js')
script(src='/js/dimension/util.js')
script(src='/js/dimension/minimal.js')
script(src='/js/astral/jquery.poptrox.min.js')
