doctype html
//
  Dimension by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Demo
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='/css/dimension/main.css')
  noscript
    link(rel='stylesheet' href='/css/dimension/noscript.css')
// Wrapper
#wrapper
  // Header
  header#header
    .logo
      span.icon.fa-gem
    .content
      .inner
        h1 Edgar Trujillo 
        p
          | Software Engineer 
          br
          | Appointment Booking platform
    nav
      ul
        li
          a(href='/intro') Intro
        li
          a(href='/catalogue') Work
        li
          a(href='/about') About
        li
          a(href='/inquiry') Contact
  // Footer
  footer#footer
    p.copyright
      | &copy; Edgar Trujillo. 
      | Admin: 
      a(href='http://login.example.com') Login        
// BG
#bg
// Scripts
script(src='/js/dimension/jquery.min.js')
script(src='/js/dimension/browser.min.js')
script(src='/js/dimension/breakpoints.min.js')
script(src='/js/dimension/util.js')
script(src='/js/dimension/main.js')
